.footer-list-column__item {
  margin-bottom: 10px;
  font-size: 0.75rem; }

.footer-list-column__item a {
  color: #fff;
  transition: 0.2s; }
  .footer-list-column__item a:hover {
    color: #6eb744; }
