.content {
  position: absolute;
  width: 48%;
  left: 26%;
  top: 0;
  font-family: Raleway, sans-serif;
  z-index: 10; }

@media (max-width: 1024px) {
  .content {
    width: 64%;
    left: 18%; } }
@media (max-width: 640px) {
  .content {
    width: 80%;
    left: 10%; } }
