.space {
  width: 100%;
  float: left;
  background-color: #fff;
  shape-outside: polygon(0 0, 100% 0, 100% calc(100% - 150px), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 150px), 0 100%);
  z-index: 5;
  position: relative; }
