.main-footer {
  height: 510px;
  background: url("footer.jpg") top center no-repeat;
  background-size: 100% 100%;
  float: left;
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: -150px;
  padding-top: 150px;
  font-family: Raleway, sans-serif; }
