.button {
  width: 47%;
  text-align: center;
  outline: none;
  border: none;
  background-color: #6eb744;
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  cursor: pointer; }

@media (max-width: 1200px) {
  .button {
    font-size: 0.8rem; } }
@media (max-width: 768px) {
  .button {
    height: 35px;
    line-height: 35px; } }
@media (max-width: 640px) {
  .button {
    margin-top: 35px;
    height: 30px;
    line-height: 30px; } }
@media (max-width: 440px) {
  .button {
    margin-top: 25px;
    height: 20px;
    line-height: 20px; } }
